@media (max-width: 768px) {

    .advantages {

        &__descr {

            font-size: 20px;
        }
    }
}

@media (max-width: 575px) {

    .advantages {

        &__title {

            text-align: center;
        }

        &__item {

            margin-top: 15px;
        }

        &__descr {

            font-size: 16px;
        }
    }

    .block {

        flex-direction: column;
        align-items: center;
    }
}