.solutions {
    position: relative;
    min-height: 890px;
    color: #fff;

    background: url("../img/solutions/background.jpg") center center/cover;

    &__tabs {
        display: flex;
        height: 65px;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        border: solid 1px #fff;
        border-radius: 5px;
    }

    &__tab {
        position: relative;
        padding: 35px 25px;

        &:hover {
            color: var(--main-color);
            cursor: pointer;
        }

        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: 50px;
            width: 1px;
            background-color: #8b9a9e;
        }
    }

    &__title {
        margin-top: 120px;
    }

    &__content {

        img {
            display: block;
            width: 945px;
            height: 530px;
            cursor: pointer;
        }
    }

    .left {
        position: absolute;
        bottom: 40%;
        left: 17%;
    }

    .right {
        position: absolute;
        bottom: 40%;
        right: 17%;
    }
}