.solutions {
    position: relative;
    min-height: 850px;
    padding: 85px 0;
    color: #fff;

    background: url("../img/solutions/background.jpg") center center/cover no-repeat;

    &__title {

        margin-top: 60px;
    }

    .slider {
        
        margin-top: 50px;
        height: 450px;
    }
}

.tabs {

    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    list-style-type: none;
    border: solid 1px #fff;
    border-radius: 5px;
}

.tab {

    padding: 10px 25px;
    border-right: solid 1px #aaa;

    &:last-child {

        border-right: none;
    }

    &:hover {

        color: var(--main-color);
        cursor: pointer;
    }
}