@mixin square {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 170px;
    height: 170px;
    background-color: #00c2f0;
    opacity: .3;
}