@import "libs/bootstrap-reboot";
@import "libs/bootstrap-grid";
@import "base/variables";

* {
    font-family: 'Roboto', sans-serif;
}

p {
    padding-bottom: 0;
}

@import "blocks/text/title";
@import "blocks/text/text";
@import "blocks/header/header";
@import "blocks/promo/promo";
@import "blocks/buttons/buttons";
@import "blocks/with_us/with_us";
@import "blocks/solutions/solutions";