.text {

    &__fz24 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }

    &__fz23 {
        font-size: 23px;
        line-height: 26px;
        font-weight: 400;
    }

    &__fz18-700 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
    }

    &__fz18-300 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
    }

    &__fz16 {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
    }

    &__fz14-700 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
    }

    &__fz14-400 {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }

    &__fz13 {
        font-size: 13px;
        line-height: 26px;
        font-weight: 700;
    }

    &__fz12{
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
    }
}