.text {

    &_fz24 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }

    &_fz23 {
        font-size: 23px;
        line-height: 26px;
        font-weight: 400;
    }

    &_fz18-700 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
    }

    &_fz18-300 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
    }

    &_fz16 {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
    }

    &_fz14-700 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
    }

    &_fz14-400 {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }

    &_fz13 {
        font-size: 13px;
        line-height: 26px;
        font-weight: 700;
    }

    &_fz12{
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
    }
}