.title {
    font-weight: 900;

    &__fz48 {
        font-size: 48px;
        line-height: 30px;
    }

    &__fz42 {
        font-size: 42px;
        line-height: 48px;
    }

    &__fz30 {
        font-size: 30px;
        line-height: 36px;
    }
} 