.title {
    font-weight: 900;

    &_fz48 {
        font-size: 48px;
        line-height: 30px;
    }

    &_fz42 {
        font-size: 42px;
        line-height: 48px;
    }

    &_fz30 {
        font-size: 30px;
        line-height: 36px;
    }
} 