@media (max-width: 992px) {

    .variants {

        .block {

            margin-top: 50px;
        }

        &__subtitle {

            width: unset;
        }
    }
}

@media (max-width: 768px) {

    .variants {

        &__title {

            font-size: 24px;
        }

        &__subtitle {

            font-size: 24px;
        }
    }
}