.variants {
    min-height: 580px;
    padding-top: 80px;
    background: url("../img/variants/background.jpg") center center/cover no-repeat;
    color: #fff;

    .block {

        position: relative;
        display: flex;
        flex-flow: column wrap;
        flex-basis: 50%;
    }

    &__title {
        
        text-align: center;
        font-size: 30px;
    }

    &__subtitle {

        width: max-content;
        font-size: 30px;
        text-transform: uppercase;

        &.right {

            text-align: right;
        }

    }

    &__descr {

        &.right {

            text-align: right;
        }
    }

    .square {

        @include square;
        z-index: 2;

        &.right {

            top: -30px;
            right: -50px;
        }

        &.left {

            top: -30px;
            left: -35px;
        }
    }
}