.promo {
    position: relative;
    padding-top: 35px;
    color: #fff;
    background: url("../img/promo/backgound.jpg") center center/cover no-repeat;

    &__menu {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        color: #fff;
        text-transform: uppercase;

        a {
            color: #fff;
            text-decoration: none;

            &:hover {

                color: var(--main-color);
            }
        }
    }

    &__item {

        padding: 0 25px;
    }

    &__title {
        margin-top: 130px;
        width: 555px;
    }

    &__slogan {

        width: 555px;
        margin-top: 40px;
    }

    &__btn {

        display: block;
        margin: 0 auto;
        margin-top: 45px;
    }

    &__img {
        position: relative;
        bottom: -20px;
    }

    &__dots {
        display: flex;
        width: 70px;
        flex-direction: row;
        justify-content: space-around;

        div {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: solid 1px #fff;
        }
    }

    &__left,
    &__right {
        margin-top: -8px;
    }

    &__left {
        margin-right: 10px;
    }

    &__right {
        margin-left: 10px;
    }

    .white { 
        background-color: #fff;
    }

    &__navigation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        display: flex;
        flex-direction: row;
    }
}

.bar {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .85);
}

.sandwich {
        
    position: fixed;
    z-index: 2;
    top: 10px;
    right: 10px;
    display: block;
    width: 40px;
    height: 21px;
    cursor: pointer;

    &__top, &__center, &__bottom {
        
        position: absolute;
        left: 0;
        transform: translateX(-50%);

        display: block;
        width: 35px;
        height: 3px;
        background-color: #fff;
        transition: all 1s;
        cursor: pointer;
    }

    &__top { 

        top: 0px;
    }

    &__bottom {

        bottom: 0;
    }

    &__center {

        top: 9px;
    }

    &.animated {

        right: 20px;

        .sandwich__top, 
        .sandwich__bottom {

            top: 50%;
            transition: all 1s;
        }

        .sandwich__top {

            transform: rotateZ(-45deg);
            transition: all 1s;
        }

        .sandwich__bottom {

            transform: rotateZ(45deg);
            transition: all 1s;
        }

        .sandwich__center {

            display: none;
        }
    }
}