.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;

    &__countries {

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .country {

        &__flag {
            width: 30px;
            height: 20px;
        }

        &__name {
            display: inline-block;
            text-transform: capitalize;
        }

        &__contacts {
            margin-top: -10px;
            padding-left: 30px;
            width: 220px;
        }
    }    
}