.with_us {
    padding: 75px 0;

    &__title {

        text-transform: uppercase;
    }

    &__item {

        display: block;
        width: 360px;
        height: 270px;
        margin: 5px auto;
        padding: 0 50px 35px 50px;
        border: solid 1px #eee;

        img {
            display: block;
            margin: 0 auto;
        }

        p {
            text-align: center;
        }
    }

    .arrow {

        margin: 50px 0;
    }
}